header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 80px;
}

.main-nav-item {
  background-color: var(--light-green);
  color: rgb(255, 255, 255);
  margin-right: 0.5rem;
  padding: 5px;
  font-weight: 700;
  text-decoration: none;
}

.main-nav-item:hover {
  background-color: var(--green);
  color: rgb(255, 255, 255);
  margin-right: 0.5rem;
  padding: 5px;
  font-weight: 700;
  text-decoration: none;
}

header-logo {
  display: flex;
  align-items: center;
}

header-logo-image {
  max-width: 100%;
  width: 200px;
}
